@use "./variables" as *;
@use "./mixins" as *;

.add-to-cart-section {
  gap: 1rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 600px;
  -ms-flex-direction: column;
  flex-direction: column;

  @include media-query(768px) {
    & {
      flex-direction: row;
      align-items: center;
    }
  }

  .btn-group {
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding-inline: 0.5rem;
    justify-content: space-between;
    background-color: var(--clr-light);

    @include media-query(768px) {
      & {
        width: 80%;
      }
    }

    span {
      font-weight: 600;
    }

    .icon-btn {
      color: var(--clr-accent);
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .cart-btn {
    gap: 1rem;
    width: 100%;
    display: flex;
    font-weight: 700;
    align-items: center;
    text-transform: unset;
    background-color: var(--clr-accent);

    &:hover {
      background-color: hsla(26, 100%, 55%, 0.9);
    }
  }
}
