@use "./mixins" as *;
@use "./variables" as *;

.header {
  top: 0;
  width: auto;
  padding: 1rem;
  position: sticky;
  transition: padding 0.3s ease;

  @include media-query(768px) {
    & {
      padding-inline: 3rem;
    }
  }

  @include media-query(1000px) {
    & {
      padding: 1.5rem 5rem;
    }
  }

  .mobile-nav-menu {
    top: 0;
    left: 0;
    z-index: 10;
    width: 250px;
    padding: 1rem;
    position: fixed;
    min-height: 100vh;
    transition: transform 0.3s ease;
    background-color: var(--clr-white);

    .logo-span {
      font-style: italic;
    }
  }

  .nav-link {
    width: 100%;
    color: var(--clr-dark);

    @include media-query(768px) {
      & {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  @include media-query(768px) {
    .nav-list {
      padding-inline: 1rem;
    }
  }
}
