.modal {
  .cancel-btn,
  .delete-btn {
    flex: 1;
    border-radius: 0;
    font-weight: 700;
  }

  .cancel-btn {
    color: var(--clr-black);
    transition: border 0.3s ease;
    border: 1px solid #0000004d;

    &:hover {
      border-color: #000000;
    }
  }

  .delete-btn {
    color: var(--clr-white);
    background-color: black;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #000000cc;
    }
  }

  #modal-modal-title {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
  }
}
