@use "./variables" as *;

.product-info {
  width: 100%;
  padding: 2rem;
  max-width: 400px;

  .item-supplier {
    margin: 0;
    font-size: 1rem;
    color: var(--clr-accent);
    text-transform: uppercase;
  }

  .item-name {
    margin: 0;
    color: var(--clr-dark);
  }

  .item-description {
    margin: 0;
    color: var(--clr-dark-gray);
  }

  .prices {
    gap: 1rem;
    display: flex;
    margin-top: 1rem;

    .item-price {
      font-weight: 700;
      color: var(--clr-dark);
    }

    .item-discount {
      font-weight: 700;
      padding: 0 0.5rem;
      font-size: 0.9rem;
      border-radius: 8px;
      color: var(--clr-accent);
      background-color: hsla(26, 100%, 55%, 0.2);
    }

    .item-original-price {
      margin-left: auto;
      color: var(--clr-dark-gray);
      text-decoration: line-through;
    }
  }
}
