:root {
  // Primary Colors
  --clr-accent: hsl(26, 100%, 55%);
  --clr-secondary: hsl(25, 100%, 94%);

  // Neutral Colors
  --clr-dark: hsl(220, 13%, 13%);
  --clr-dark-gray: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(0, 0%, 0%, 0.75);

  // Font Size
  --fs: 1rem;
}
